SQLALCHEMY_DATABASE_URI = ''
SECRET_KEY = ''
REDDIT_CLIENT_ID = ''
REDDIT_CLIENT_SECRET = ''
HOST_ADDRESS = ''
USER_AGENT = ''
GOOGLE_CLIENT_ID = ''
GOOGLE_CLIENT_SECRET = ''
BUNDLE_COVER_LOGO_URL = ''
