<!DOCTYPE html>
<html>
<head lang="en">
    {% block head %}
    <meta charset="UTF-8">
    <title>Narwhal {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    {% endblock %}
</head>
<body>
{% block body %}
<div class="container">
    {% block content %}{% endblock %}
<hr/>
<div class="footer">
    {% block footer %}
        <a style="float: right" href="https://github.com/austinwagner/narwhal">Fork me on GitHub</a>
    {% endblock %}
</div>
</div>
{% endblock %}
</body>
</html>