{% extends "base.html" %}

{% block content %}
    <h1>Privacy Policy</h1>
    <p>
        No personal information collected by this site will be provided to third-parties.
        Your email address is only used for logging purposes to help identify issues with the service.
        No unsolicited emails will be sent to your email address from this site.
    </p>
    <p>The current version of this policy can always be found at https://narwhalapp.net/privacy.</p>
{% endblock %}

{% block footer %}
    <a href="{{ url_for('index') }}">Home</a>
{% endblock %}